.scannerwork/
.sonar/
.sonarlint/
.sonartmp/
.project
.settings/
.classpath
target/
build/
*.swp
.vscode/
*.log
.idea/
*.iml
*.class
*.pyc
**/target/
**/bin/
**/obj/
.sonarqube/
.DS_Store
**/node_modules/
.angular/
angular/coverage/
dist/
cpp-scan/compile_commands.json
cpp-scan/bw-output/
cpp-scan/wrapper/
external-issues/reports/
ai-code-fix/python/venv/*
# Written by "metrics-without-scm/demo.sh add-code", removed again by "demo.sh reset"
metrics-without-scm/src/*.2.cbl
