<div class="app-container">
  <div class="center-container">
    <div class="content">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <img alt="SonarSource logo" src="/assets/sonar-logo-horizontal.svg" />
      <p>Things to click:</p>
      <ul class="stuff-to-do">
        <li><a class="first-item" href="" (click)="doStuff()">Do Stuff covered by unit tests</a></li>
        <li><a id="doOtherStuff" href="" (click)="doOtherStuff()">Do Other Stuff covered by unit tests</a></li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
