<div class="app-container">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img alt="SonarSource logo" src="https://www.sonarsource.com/logos/index/SonarSource-logo@2x.png" />
  </div>
  <p>Things to click:</p>
  <ul>
    <li><a href="" (click)="doStuff()">Do Stuff covered by unit tests</a></li>
    <li><a id="doOtherStuff" href="" (click)="doOtherStuff()">Do Other Stuff covered by unit tests</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
