.app-container {
    font-family: Arial, 'Arial', Helvetica, sans-serif;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Adjust the height as needed
  }

.content {
    text-align: center;
}

.stuff-to-do {
    list-style-type: none;
    padding: 0;
}
